<div class="card-container">
    <mat-card class="card-busca">
        <img mat-card-image src="assets/imagens/roupa-feminina.jpeg" alt="Imagem de Veneza">
        <mat-card-content>
          <ul>
            <li>R$ 120,00</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">VER DETALHES</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card-busca">
        <img mat-card-image src="assets/imagens/roupa-feminina2.jpeg" alt="Imagem de Veneza">
        <mat-card-content>
          <ul>
            <li>R$ 300</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">VER DETALHES</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card-busca">
        <img mat-card-image src="assets/imagens/roupa-feminina-3.jpeg" alt="Imagem de Veneza">
        <mat-card-content>
          <ul>
            <li>R$ 120</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">VER DETALHES</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card-busca">
        <img mat-card-image src="assets/imagens/roupa-bb.jpeg" alt="Imagem de Veneza">
        <mat-card-content>
          <ul>
            <li>R$ 410</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">VER DETALHES</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card-busca">
        <img mat-card-image src="assets/imagens/roupa-bb1.jpeg" alt="Imagem de Veneza">
        <mat-card-content>
          <ul>
            <li>R$ 270</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">VER DETALHES</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card-busca">
        <img mat-card-image src="assets/imagens/roupa-bb3.jpeg" alt="Imagem de Veneza">
        <mat-card-content>
          <ul>
            <li>R$ 375</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">VER DETALHES</button>
        </mat-card-actions>
      </mat-card>
</div>

